*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bannerup: #009688;
    --bannerbottom: #D9DBD5;


}

.background{
    position: relative;
}

.banner_up{
    background-color: var(--bannerup);
    height: 20vh;
}

.banner_bottom{
    background-color:var(--bannerbottom);
    height: 80vh;
}

.main_box {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    max-width: 1200px;
    width: 100%;
    height: 90vh;
    background-color: aqua;
    margin: auto;
}
/* region Box Sinistro */

.left_box{
    width: 30%;
    height: 100%;
    background-color: blue;
}


.profile_box{
    height: 8vh;
    width: 100%;
    background-color: red;
}

.user{
    height: 100%;
    padding: 5px;
    text-align: center;
}

.user_profile{
    border-radius: 32px;
    height: 15px;
    width: 15px;
}
.user_avatar{
    border-radius: 32px;
    height: 30px;
    width: 30px;
}

.alert_box{
    height: 10vh;
    width: 100%;
    background-color: rgb(105, 182, 207);
}

.search_box{
    height: 5vh;
    width: 100%;
    background-color: rgb(203, 20, 231);
}

.chats_box{
    height: 67vh;
    width: 100%;
    background-color: rgb(164, 136, 25);
}

/* endregion common Box Sinistro */

.right_box{
    width: 70%;
    height: 100%;
    background-color: khaki;
}

.profile_chat_box{
    height: 8%;
    width: 100%;
    background-color: beige;
}

.chat_box{
    height: 84%;
    width: 100%;
    background-color: rgb(69, 69, 6);
}

.type_box{
    height: 8%;
    width: 100%;
    background-color: rgb(25, 25, 9);
}


